
.container-header, .container-articles {
    background-color: $very-light-gray;
}

.container-choose {
    background-color: $light-grayish-blue;
}

.container-footer {
    background-color: $dark-blue;
}

.active-container {
    &::before {
        content: "";
        position: absolute;
        top: 6.2rem;
        left: 0;
        background-color: #000;
        opacity: 0.7;
        width: 100%;
        min-height: 100vh;
    }
}

.active-menu {
    border-radius: 0.5rem;
    transform: scaleY(1) !important;
}

.active-btn {
    width: 3rem !important;
    height: 2rem !important;
    
    img {
        object-fit: contain;
        content: url("../../images/icon-close.svg");
    }
}