.main {
    width: Min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 1.7rem;
    padding-block: 6rem;
    
    &__choose {
        &-description {
            text-align: center;

            h2 {
                font-size: 3rem;
                font-weight: 400;
                padding-inline: 3rem;
                margin-bottom: 1.5rem;
            }

            p {
                font-size: 1.5rem;
                font-weight: $light;
                line-height: 2.2rem;
                color: $grayish-blue;
            }
        }

        &-container_cards {
            margin-top: 6rem;
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .card {
                text-align: center;

                img {
                    width: 6.5rem;
                }

                h3 {
                    font-size: 2rem;
                    font-weight: $regular;
                    margin-block: 2rem;
                }

                p {
                    font-size: 1.5rem;
                    color: $grayish-blue;
                }
            }
        }
    }
}